/* Widths
   ========================================================================== */

.is-width-1 {
    article {
        width: 50%;
    }
}
.is-width-2 {
    article {
        width: 60%;
    }
}
.is-width-3 {
    article {
        width: 70%;
    }

}
.is-width-4 {
    article {
        width: 80%;
    }
}
.is-width-5 {
    article {
        width: 90%;
    }
}
