/* ==========================================================================
   Line Spacing
   ========================================================================== */

.is-line-spacing-1 {
    line-height: 1.2;
}
.is-line-spacing-2 {
    line-height: 1.4;
}
.is-line-spacing-3 {
    line-height: 1.6;
}
.is-line-spacing-4 {
    line-height: 1.8;
}
.is-line-spacing-5 {
    line-height: 2;
}
