/* ==========================================================================
   Text Size
   ========================================================================== */

.is-text-size-1 {
    font-size: 75%;
}
.is-text-size-2 {
    font-size: 100%;
}
.is-text-size-3 {
    font-size: 112.5%;
}
.is-text-size-4 {
    font-size: 125%;
}
.is-text-size-5 {
    font-size: 150%;
}
