/* Widths
   ========================================================================== */

.is-width-1 {
    article {
        width: 40%;
    }
}
.is-width-2 {
    article {
        width: 55%;
    }
}
.is-width-3 {
    article {
        width: 70%;
    }

}
.is-width-4 {
    article {
        width: 85%;
    }
}
.is-width-5 {
    article {
        width: 100%;
    }
}
