<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>style changer</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <!-- build:css styles/vendor.css -->
        <!-- bower:css -->
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:css styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->

        <!-- build:js scripts/vendor/modernizr.js -->
        <script src="bower_components/modernizr/modernizr.js"></script>
        <!-- endbuild -->
    </head>
    <body ng-app="styleChangerApp">
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="controls">
            <form ng-controller="FormCtrl" id="theme-settings" class="controls__form" role="form">
                <fieldset class="controls__form__group">
                    <legend>Theme</legend>
                    <label
                        ng-repeat="theme in themes"
                        ng-click="setTheme(theme.slug)"
                        class="radio-inline">
                        <input
                            type="radio"
                            ng-model="currentTheme"
                            name="theme"
                            value="{{ theme.slug }}"> <span>{{ theme.name }}</span>
                    </label>
                </fieldset>
                <div class="controls__form__group">
                    <label>Width</label>
                    <input
                        type="range"
                        ng-model="currentWidth"
                        min="1" max="5" step="1">
                </div>
                <div class="controls__form__group">
                    <label>Line Spacing</label>
                    <input
                        type="range"
                        ng-model="currentLineSpacing"
                        min="1" max="5" step="1">
                </div>
            </form>
        </div><!-- .controls -->

        <div class="container-fluid">
            <article>
                <h1>Lorem Ipsum Dolor sit Amet</h1>
                <p>Consectetur adipiscing elit. Etiam quis libero sollicitudin, imperdiet libero sit amet, vestibulum augue. Nulla eget nunc sit amet justo interdum tincidunt. Nulla arcu mi, blandit at euismod et, porttitor quis ligula. Ut sapien odio, pharetra eu quam non, tempus eleifend ipsum. Sed sed tristique quam. In porttitor ornare urna ut facilisis. Ut lacus turpis, blandit eu ante id, lobortis tristique neque. Integer nisl libero, eleifend ut commodo eget, rutrum in libero. <a href="#">Nunc porttitor</a> sollicitudin tortor.</p>
                <h2>Eu Facilisis Velit Volutpat Id</h2>
                <p>Aliquam sapien sapien, mattis quis purus consequat, placerat elementum enim. Donec pretium velit tempus sapien varius tristique.</p>
                <blockquote>
                    <p>Curabitur eu dui mollis, fermentum augue ac, malesuada purus. Quisque convallis massa eu ligula tristique auctor.</p>
                    <blockquote>
                        <p>Nam non pharetra purus, in tempus orci.</p>
                    </blockquote>
                </blockquote>
                <p>Donec lacus lorem, imperdiet ut aliquam ut, molestie vitae tellus. Etiam interdum feugiat magna, non rhoncus libero. In rhoncus, nisl at dignissim interdum, nisi orci sagittis nunc, quis viverra elit justo et tellus.
                <h2>Integer eu Dolor</h2>
                <ol>
                    <li>Gravida, bibendum risus eu, fringilla orci.</li>
                    <li>Quisque lacinia interdum aliquam.</li>
                    <li>Nullam id sapien odio.</li>
                </ol>
                <p>Fusce dapibus vestibulum quam at molestie. Proin vitae consectetur nisi.<p>
                <p>Pellentesque in lacinia nunc, ut rhoncus nunc. Pellentesque a lacus pretium enim sollicitudin aliquet vitae et diam.</p>
                <h3>Suspendisse eu ornare nunc.</h3>
                <p>Pellentesque justo sem, euismod ut facilisis ut, egestas eget augue. Phasellus porta augue non purus bibendum, vel venenatis nisi ullamcorper. Quisque vel nunc at metus fermentum tempor.</p>
                <p>Duis tincidunt nisi eget lectus fringilla, sed pulvinar urna malesuada.</p>
                <ul>
                    <li>Donec convallis</li>
                    <li>Lectus ut facilisis</li>
                    <li>Cursus curabitur feugiat</li>
                    <li>Gravida erat</li>
                    <li>Eget dignissim</li>
                </ul>
                <p>Pellentesque vitae urna a massa tempor elementum a nec nibh. Nullam non turpis mi. Pellentesque convallis commodo urna. Mauris urna sapien, consectetur in egestas sed, accumsan et tellus. Morbi sit amet dictum risus. Morbi dictum hendrerit accumsan.</p>
                <p>Curabitur ante sem, rhoncus sit amet rutrum non, mattis eget lorem. Sed placerat, sem eget semper mattis, felis lectus pellentesque metus, sit amet mattis turpis leo ut magna. Nam dapibus ullamcorper nisl at pulvinar. Proin urna quam, pellentesque non sodales eu, eleifend sed elit. Sed adipiscing ipsum sed imperdiet egestas. Nullam ac risus elementum, ornare dui ac, malesuada ligula. Maecenas ut diam sed ante tincidunt suscipit ac ornare justo.</p>
                <p>Fusce in enim in felis aliquam dictum. Vivamus eu accumsan metus. Maecenas sed lectus a sapien feugiat facilisis. In in augue lacus. Nam varius pretium elit a pellentesque. Vivamus lobortis mollis risus, in bibendum tortor. Nunc sagittis nulla id fringilla tempor. Nam nisl elit, condimentum nec nisi sit amet, consectetur molestie orci. Quisque fermentum adipiscing odio. Nunc in tincidunt sem. Duis tempor nibh non mauris posuere, eleifend convallis eros mollis. Sed eu facilisis nulla, eu ultricies eros.</p>
                <p>Morbi sollicitudin elementum ipsum, a hendrerit mauris euismod vel. Mauris consectetur purus vel erat aliquet porttitor. Nam convallis tempus dui, et ultrices urna congue et. Suspendisse potenti. Donec accumsan velit nec lacus adipiscing ultricies. In quis ligula at nunc blandit porttitor. Proin id aliquam lorem, sed rhoncus felis. Mauris vitae felis elit. Morbi sit amet gravida mauris, eget ultrices lorem. Nunc malesuada aliquam lectus eget eleifend. Pellentesque vulputate tellus eget tincidunt rhoncus. Nam sem tortor, malesuada sit amet rutrum sit amet, interdum vitae lorem. Aliquam ultrices eros id tempus pharetra.</p>
            </article>
        </div><!-- .container-fluid -->

        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js scripts/plugins.js -->
        <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/affix.js"></script>
        <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/alert.js"></script>
        <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/dropdown.js"></script>
        <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/tooltip.js"></script>
        <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/modal.js"></script>
        <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/transition.js"></script>
        <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/button.js"></script>
        <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/popover.js"></script>
        <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/carousel.js"></script>
        <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/scrollspy.js"></script>
        <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/collapse.js"></script>
        <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/tab.js"></script>
        <!-- endbuild -->

        <!-- build:js scripts/main.js -->
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
    </body>
</html>
